@model KooliProjekt.Data.Prediction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Prediction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MacthId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MacthId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PredictedScroteFirstTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PredictedScroteFirstTeam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PredictedScoreSecondTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PredictedScoreSecondTeam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.punktid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.punktid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
