@model KooliProjekt.Models.Match

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Match</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tournament.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstTeam.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondTeam.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstTeam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondTeam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.winner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.winner)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
